/* DESKTOP */
:root {
  --title-font-size: 46px;
  --title-description-font-size: 26px;
}

/* TABLET */
@media (max-width: 1024px) {
  :root {
    --title-font-size: 42px;
    --title-description-font-size: 23px;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  :root {
    --title-font-size: 30px;
    --title-description-font-size: 16px;
  }
}

.headerFrame {
  width: 100%;
  height: min-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 0px 20px;
  align-content: center;
  gap: 10px;
}

.title {
  width: 100%;
  height: auto;
  font-size: var(--title-font-size);
  font-weight: 700;
  color: #4a80b5;
  text-align: center;
  transform: skewX(-15deg);
}

.title-description {
  width: 100%;
  height: auto;
  font-size: var(--title-description-font-size);
  font-weight: 400;
  color: #d1d1d1;
  text-align: center;
  transform: skewX(-15deg);
}
